h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 18px;
}

.title-sm {
  font-size: 14px;
  color: #444444;
}

.list-w-comas > span:not(:last-of-type)::after {
  content: ", ";
}
