.layout {
  margin-top: -80px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.breadcrumb {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  a {
    text-decoration: none;
    opacity: 0.6;

    &:hover {
      color: hsla(0, 0%, 100%, 1);
      opacity: 1;
      transition: all 0.2s;
    }
  }

  span {
    opacity: 0.6;
    white-space: pre;
  }
}
