.game-card {
  padding: 0;
  margin-bottom: 1rem;
  height: fit-content;
  break-inside: avoid-column;
  width: 100%;

  .toggle-show {
    width: 100%;
    display: none;
  }

  &:hover {
    .toggle-show {
      display: inline-block;
    }
  }
}

.list-group-item {
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 8px 0;

  & > span:first-of-type {
    color: #797979;
  }

  .genres > span:not(:last-of-type)::after {
    content: ", ";
  }
}

.bg-platforms {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.bg-platform-playstation {
  height: 12px;
  width: 16px;
  background-image: url("../../assets/img/playstation-icon.svg");
  background-repeat: no-repeat;
}

.bg-platform-xbox {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/xbox-icon.svg");
}

.bg-platform-pc {
  height: 12px;
  width: 13px;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/pc-icon.svg");
}

.btn-added {
  font-size: 12px;
  padding: 4px;
  margin-bottom: 8px;

  .icon {
    font-weight: 700;
    margin-right: 4px;
  }
}

.btn-bottom {
  font-size: 14px;
  display: block;
  text-align: left;
  width: 100%;
  margin: 8px 0;

  span {
    float: right;
    opacity: 0.5;
  }

  &:hover {
    color: #fad860;
  }
}
